.SideBar {
  width: 25%;
  overflow: hidden;
}

.query-result {
  height: 90%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

.query-search {
  padding-bottom: 8px;
  height: 10%;
  display: flex;
}

.SideBar input {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  padding-left: 15px;
  outline: 0;
}